# Dependencies
node_modules
/frontend/node_modules
/backend/venv
/backend/downloads/
venv/
.env
.jwt_secret
backend/.jwt_secret
*.log
backend_logs.txt

# Python
__pycache__/
*.py[cod]
*$py.class

# System
.DS_Store
.vscode
.idea

# Build
dist/
build/
*.egg-info/
